<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- development version, includes helpful console warnings -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/vue.js"></script>
</head>
<body>
	<div id="app">
		<div class="container">
			<div class="row">
				<div class="col-4 d-flex justify-content-center" v-for="(buku, i) in dataBuku">
					<figure class="figure text-center" data-bs-toggle="modal" :data-bs-target="'#bukuModal'+(i+1)">
						<img class="figure-img img-fluid rounded" style="max-height: 250px;" :src="buku.image" :alt="buku.judul">
						<h4>{{ buku.judul }}</h4>
						<figcaption class="figure-caption text-center">Rp {{ buku.harga }}</figcaption>
					</figure>
				</div>
			</div>
		</div>
		<div class="modal fade" v-for="(buku, i) in dataBuku" :id="'bukuModal'+(i+1)" tabindex="-1" :aria-labelledby="'bukuModal'+(i+1)" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
					<div class="modal-body text-center pb-5">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-lg-8">
									<img class="img-fluid rounded mb-5" style="max-height:200px" :src="buku.image" :alt="buku.judul" />
									<h3 class="text-secondary text-uppercase mb-0">{{ buku.judul }} - Rp {{ buku.harga }}</h3>
									<p class="mb-4">{{ buku.ket }}</p>
									<button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
										<i class="fas fa-times fa-fw"></i>
										Close Window
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/script-web.js"></script>
</body>
</html>